<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MapViewPallet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <MapViewPallet.Properties.Settings>
      <setting name="palletWidth" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="palletHeight" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="palletPadding" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="palletMargin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="serverIp" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="serverPort" serializeAs="String">
        <value>8081</value>
      </setting>
      <setting name="serverReturnIp" serializeAs="String">
        <value>192.168.1.32</value>
      </setting>
      <setting name="bufferRefreshInterval" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="returnMainUser" serializeAs="String">
        <value>rm</value>
      </setting>
      <setting name="returnMainPassword" serializeAs="String">
        <value>rm</value>
      </setting>
      <setting name="return401User" serializeAs="String">
        <value>r4</value>
      </setting>
      <setting name="return401Password" serializeAs="String">
        <value>r4</value>
      </setting>
    </MapViewPallet.Properties.Settings>
  </userSettings>
</configuration>